<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Welcome to <%= myname %></p>
   <% 
      if (myname == "chroma") {
    %>
      welcome to chroma campus
    <%
      }
      else {
    %>
         welcome to guest

      <%
    }
    %>
    
  </body>
</html>
